@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.navbar {
  width: 100%;
  height: 8vh;
  background-image: radial-gradient(
    circle,
    #720e9e,
    #922fb1,
    #b14bc5,
    #d066d9,
    #ee82ee
  );
}

/* card section css */

.team-section {
  width: 100%;
}
.team-section .container {
  width: 80%;
  margin: auto;
}

.team-section .container .row {
  width: 60%;
  margin: auto;
}

.team-section .container .row .title {
  text-align: center;
  margin-top: 50px;
}
.team-section .container .row .title h1 {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: purple;
}

.team-section .container .container .title p {
  font-size: 18px;
  font-family: sans-serif;
  margin: 30px 0px;
  color: #a3a3a3;
}

.team-section .container .team-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 50px;
}

.team-section .container .team-card .card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
  border-radius: 4%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  animation: animate 2s linear infinite;
}

.card:nth-child(odd) {
  background: #ee82ee url(./sparkles.png);
}

.card:nth-child(even) {
  background: #ffb277 url(./sparkles.png);
}

@keyframes animate {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -64px;
  }
}

.team-section .container .team-card .card:hover {
  opacity: 0.85;
  transition: 0.15s;
  transform: translate(4px, -4px);
}

.team-section .container .team-card .card .image-section img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 6px solid #fff;
  background-color: #fafafa;
}

.team-section .container .team-card .card .content {
  width: 100%;
  text-align: center;
}

.team-section .container .team-card .card .content h3 {
  font-size: 27px;
  margin-top: 10px;
  letter-spacing: 1.5px;
  color: rgb(170, 21, 170);
}

.team-section .container .team-card .card .content h4 {
  font-size: 17px;
  margin-top: 10px;
  letter-spacing: 1.5px;
  color: #6e6e6e;
}
.team-section .container .team-card .card .content p {
  font-size: 15px;
  margin: 16px 0px;
  /* line-height: 1.5px; */
  color: #6c6c6c;
}

@media screen and (max-width: 900px) {
  .team-section .container .team-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .team-section .container .team-card {
    grid-template-columns: 1fr;
  }
  .team-section .container .row {
    width: 80%;
  }
}
